.black-signin-wall-container {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fafafa;
}

.black-signin-wall-container form {
  color: #000000;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #00ded0
  );
  padding: 100px;
  position: absolute;
  font-weight: bold;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
}

.sign-up {
  top: 5% !important;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  transition: all 0.5s ease;
}

.close-btn:hover {
  color: black;
  transform: translate(0) rotate(90deg);
}

.black-signin-wall-container form h5 {
  font-size: 30px;
}

.input-field {
  position: relative;
  margin-top: 31px;
  border: 12px;
}

input {
  color: black;
  background-color: transparent;
  outline: none;
  margin-left: 6px;
  border: none;
  border-bottom: 1px solid black !important;
}

input:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid black !important;
}

.btn {
  line-height: 1rem;
  color: #000000;
  padding: 5px 20px;
  min-height: 36px;
  border-radius: 24px;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #00ded0;
}

.btn:hover {
  background-color: white;
  color: black;
  border: none;
}

.status {
  color: black;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-input-placeholder {
  /* Edge */
  -webkit-text-fill-color: #000000;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  -webkit-text-fill-color: #000000;
}

::placeholder {
  -webkit-text-fill-color: #000000;
}

@media (max-width: 700px) {
  .black-signin-wall-container form {
    color: #000000;
    background-color: black;
    padding: 60px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
  }
}
