.bottom-panel {
  margin-top: 17px;
  background-color: #e6e2dd;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1), 0 3px 1px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}

.bottom-panel .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
}

.bottom-panel .row:last-child {
  border-bottom: none;
}

.bottom-panel .column {
  width: 20%;
  padding: 10px 20px;
}

.bottom-panel .column:last-child {
  border-right: none;
}

.table-header .column {
  background-color: #d7d7d7;
  font-weight: 600;
  color: #3e3d3d;
}

.table-body .name {
  color: #10008a;
  font-weight: 600;
}
