.side-panel {
  width: 15%;
  height: 100vh;
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
}

.side-panel h1 {
  position: relative;
  font-size: 20px;
  left: 15px;
}

.side-panel h3 {
  position: relative;
  left: 30px;
}

.side-panel ul {
  display: block;
  position: relative;
  left: 35px;
}

.side-panel ul li {
  float: left;
  padding: 10px;
}

.side-panel ul li:hover {
  cursor: pointer;
  border-left: 5px solid #ff6864;
}

.side-panel ul li.active-server {
  color: grey;
}
