.nav-wrapper {
  left: 50%;
  position: absolute;
  width: 90%;
  height: 100%;
  transform: translateX(-50%);
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 50%;
  transform: translateY(-50%);
  right: -70px;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  float: right;
}

ul li a {
  color: #000000;
  text-decoration: none;
  border-bottom: solid 1px transparent;
  padding: 10px;
  font-size: 12px;
}

ul li a:hover {
  color: #fafafa;
  text-decoration: none;
  border-bottom: solid 1px transparent;
  padding: 10px;
}

@media screen and (min-width: 900px) {
  .container {
    right: -60px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    right: -60px;
  }
}

@media screen and (max-width: 700px) {
  .dashboard-side {
    width: 90%;
  }
  .nav-wrapper {
    left: 40%;
  }

  ul li a {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 90%;
    right: -60px;
  }

  .nav-wrapper {
    left: 40%;
    position: absolute;
    width: 90%;
    height: 100%;
    transform: translateX(-50%);
  }
  ul li a {
    font-size: 12px;
  }
}
