.nav {
  height: 60px;
  background-color: #f2f2f2;
  box-shadow: 0px 10px 5px -9px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-wrapper {
  left: 50%;
  position: absolute;
  width: 90%;
  height: 100%;
  transform: translateX(-50%);
}

.container {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  right: -2%;
  width: 60%;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  float: right;
}

ul li a {
  color: #686e7a;
  text-decoration: none;
  border-bottom: solid 1px transparent;
  padding: 10px;
  font-size: 12px;
}

ul li a:hover {
  color: #9ca1aa;
  color: #00ded0;
  text-decoration: none;
  border-bottom: solid 1px transparent;
  padding: 10px;
}

.avatar {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #00ded0
  );
  color: #fafafa;
  border-radius: 100%;
  border: 1px solid #f2f2f2;
}
.avatar:hover {
  border: 1px solid #f2f2f2;
  color: #fafafa;
}

@media (max-width: 700px) {
  .dashboard-side {
    width: 90%;
  }

  ul li a {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 90%;
  }

  ul li a {
    font-size: 12px;
  }
}
