.panel-container {
  width: 49.5%;
  height: 400px;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  background-color: #e6e2dd;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1), 0 3px 1px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}

.panel {
  width: 100%;
  height: 100%;
}

.panel h1 {
  margin: 0;
  padding: 0;
}

.panel h3 {
  text-align: center;
}

.CPULineChart,
.MemoryLineChart {
  width: 100%;
  height: 100%;
}
svg {
  display: flex;
  width: 100%;
  height: 100%;
}
