.dashboard-container {
  display: flex;
  background-color: #e6e2dd;
}

.dashboard-side-item p {
  color: #fafafa;
}

.dashboard-side-item-version {
  position: absolute;
  bottom: 155px;
  left: 10px;
  font-size: 10px;
}
.dashboard-side-item-version p {
  color: #686e7a;
}
